PORT=8787
NETWORK=TESTNET
HORIZON_URL=https://horizon-testnet.stellar.org
FRIENDBOT_URL=https://friendbot.stellar.org
EXPLORER_BASE=https://stellar.expert/explorer/testnet
# Set after deploying https://github.com/Kitewell-lab/contract
KITEWELL_CONTRACT_ID=
